*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
      height: 100%;
      font-family: 'Nunito', sans-serif;
      background: var(--blue-deep);
      color: var(--white);
      overflow-x: hidden;
    }